#App {
  width: 100vw;
  height: 100vh;
  background: rgb(82,54,52);
  background: -moz-radial-gradient(circle, rgba(82,54,52,1) 50%, rgba(48,27,40,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(82,54,52,1) 50%, rgba(48,27,40,1) 100%);
  background: radial-gradient(circle, rgba(82,54,52,1) 50%, rgba(48,27,40,1) 100%);
  background-repeat: repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#523634",endColorstr="#301b28",GradientType=1); 
}