@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Regular.ttf);
}

.Button {
    box-sizing: border-box;
    border-radius: 4px;
    display: table;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid #301B28;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.Button__content {
    font-family: Roboto;
    font-size: 56px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.Button:hover {
    background-color: rgba(0,0,0, 0.1);
}

.Button:active {
    background-color: #b6452c86;
    color: white;
}